@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

nav {
	background-color: #FCEBEB;
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 4% 0 0;
	position: fixed;
    width: 100vw;
}

nav div.logo {
	grid-column: 1 / 2;
	display: grid;
	grid-template-columns: max-content;
	justify-content: start;
	margin-left: 10%;
}

.logo p {
	margin: 1em 1em 1em auto;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 28px;
}

.logo span {
	font-size: 22px;
}


nav div.tabs {
	grid-column: 2 / 3;
	display: grid;
	grid-template-columns: max-content max-content max-content;
	justify-content: end;
	margin-right: 10%;
}

.tabs p {
	margin: auto 0 auto 2em;
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 18px;
}